.resultado {
  .informacoes {
    display: flex;
    padding: 0 10px;
    justify-content: space-between;

    .dados {
      gap: 10px;
      display: flex;
      text-wrap: nowrap;

      > span {
        font-size: 12px;
        > span {
          font-size: 12px;
          font-weight: 600;
        }
      }
    }

    .ordenacao {
      gap: 10px;
      display: flex;
      text-wrap: nowrap;

      > span {
        font-size: 12px;
        cursor: pointer;
        &:hover {
          color: red;
        }
        &.selecionado {
          font-weight: bold;
        }
      }
    }
  }

  .valores {
    gap: 10px;
    display: flex;
    padding: 5px 15px;
    align-items: center;
    border-radius: 15px;
    background-color: white;
    border: 1px solid black;

    .esfera-numero {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      background: radial-gradient(circle at 10px 10px, white, gray);
    }
  }
}
