<div class="resultado">
  <div class="informacoes">
    <div class="dados">
      <span
        >Concurso: <span>{{ resultado!.concurso }}</span></span
      >
      <span
        >Pares: <span>{{ pares }}</span></span
      >
      <span
        >Impares: <span>{{ impares }}</span></span
      >
      <span
        >Soma: <span>{{ soma }}</span></span
      >
    </div>
    <div class="ordenacao">
      <span
        [ngClass]="{ selecionado: ordernacao === 'crescente' }"
        (click)="alterarOrdenacao('crescente')"
        >Crescente</span
      >
      <div>|</div>
      <span
        [ngClass]="{ selecionado: ordernacao === 'sorteio' }"
        (click)="alterarOrdenacao('sorteio')"
        >Por sorteio</span
      >
    </div>
  </div>
  <ng-container [ngTemplateOutlet]="valoresJogo"></ng-container>
</div>

<ng-template #valoresJogo>
  <div class="d-flex align-items-center">
    <div
      class="valores"
      [ngClass]="{ 'teve-vencedor': resultado!.premiacoes[0].ganhadores > 0 }"
    >
      @for (dezena of resultadoJogo; track $index) {
      <span class="esfera-numero"> {{ dezena }}</span>
      }
    </div>
    <mat-icon
      fontIcon="add_circle"
      [tooltip]="'Mais informações'"
      placement="left"
      class="cursor-pointer"
      (click)="
        abrirModal($event, modalTemplate, 'modal-largo', 'mais-informacoes')
      "
    ></mat-icon>
  </div>
</ng-template>

<ng-template #modalTemplate>
  <div class="modal-header">
    <span class="titulo-modal"
      >Resultado do concurso {{ resultado?.concurso }} corrido dia
      {{ resultado?.data }}</span
    >
    <mat-icon
      fontIcon="close"
      [tooltip]="'Fechar'"
      placement="top"
      class="cursor-pointer"
      (click)="fecharModal()"
    ></mat-icon>
  </div>
  <div class="modal-body">
    <div class="acertos">
      <span class="grid-header">Premiação</span>
      <span class="grid-header">N. ganhadores</span>
      <span class="grid-header">Valor do premio</span>
      @for (premiacao of resultado!.premiacoes; track $index) {
      <span class="grid-body">{{ premiacao.descricao }}</span>
      <span class="grid-body">{{ premiacao.ganhadores }}</span>
      <span class="grid-body">R$ {{ premiacao.valorPremio }}</span>
      }
    </div>
    <div class="d-flex mt-30">
      <div class="valores mais">
        @for (dezena of todosOsValoresString; track $index) {
        <span
          class="esfera-numero"
          [ngClass]="{ sorteado: resultadoJogo.includes(dezena) }"
        >
          {{ dezena }}</span
        >
        }
      </div>
      <div class="proximo">
        <span class="mt-15"
          ><strong>Estimativa do próximo Prêmio:</strong> R$
          {{ resultado?.valorEstimadoProximoConcurso }}</span
        >
        <span class="mt-15"
          >Próximo concurso, em {{ resultado?.dataProximoConcurso }}</span
        >
      </div>
    </div>
  </div>
</ng-template>
