@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: white;
}

* {
  font-size: 1rem;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.d-flex {
  display: flex !important;
}

.align-items {
  &-center {
    align-items: center !important;
  }
}

.cursor {
  &-pointer {
    cursor: pointer !important;
  }
}

.conteudo {
  height: 100vh;
  padding-left: 120px;
}

.mb {
  &-5 {
    margin-bottom: 5px !important;
  }
  &-10 {
    margin-bottom: 10px !important;
  }
  &-15 {
    margin-bottom: 15px !important;
  }
}

.mr {
  &-5 {
    margin-right: 5px !important;
  }
  &-10 {
    margin-right: 10px !important;
  }
  &-15 {
    margin-right: 15px !important;
  }
}

.mt {
  &-5 {
    margin-top: 5px !important;
  }
  &-10 {
    margin-top: 10px !important;
  }

  &-15 {
    margin-top: 15px !important;
  }
}

.ml {
  &-5 {
    margin-left: 5px !important;
  }
  &-10 {
    margin-left: 10px !important;
  }
  &-15 {
    margin-left: 15px !important;
  }
}

.gap {
  &-10 {
    gap: 10px;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
